@layer tstdl.components {
  tsl-document-state {
    @apply grid grid-cols-[1fr,auto] rounded-xl border border-neutral-500/25 overflow-y-auto overflow-clip;
  }
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1.5px solid;
  border-color: currentColor #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
