@if (item) {
  @if (item.valueTemplateRef) {
    <ng-container [ngTemplateOutlet]="item.valueTemplateRef"></ng-container>
  } @else {
    @if (actualValueType != undefined) {
      @if (actualValue != undefined) {
        @switch (actualValueType) {
          @case ('plain') {
            {{ actualValue }}
          }
          @case ('text') {
            {{ actualValue | dynamicText }}
          }
          @case ('number') {
            {{ actualValue | numberLocale: numberFormat }}
          }
          @case ('boolean') {
            {{ (actualValue ?? false) ? (booleanTrueText ?? 'Yes' | dynamicText) : (booleanFalseText ?? 'No' | dynamicText) }}
          }
          @case ('percent') {
            {{ actualValue | numberLocale: percentFormat }}
          }
          @case ('percent-point') {
            {{ actualValue / 100 | numberLocale: percentPointFormat }}
          }
          @case ('currency') {
            {{ actualValue | numberLocale: currencyFormat }}
          }
          @case ('date') {
            {{ actualValue | dateTimeLocale: dateFormat ?? dateShort }}
          }
          @case ('numeric-date') {
            {{ actualValue | numericDateToDateTime | dateTimeLocale: dateFormat ?? dateShort }}
          }
          @case ('time') {
            {{ actualValue | dateTimeLocale: timeFormat ?? timeShort }}
          }
          @case ('numeric-time') {
            {{ actualValue | numericTimeToDateTime | dateTimeLocale: timeFormat ?? timeShort }}
          }
          @case ('enum') {
            @if (item.enum) {
              {{ actualValue | localizeEnum: item.enum }}
            } @else {
              MISSING_ENUM
            }
          }
        }
      } @else {
        {{ noValueText ?? 'N/A' | dynamicText }}
      }
      @if (item.suffix) {
        {{ item.suffix }}
      }
    } @else {
      {{ noValueText ?? 'N/A' | dynamicText }}
    }
  }
}
