<ng-container *ngIf="item">
  <ng-container *ngIf="item.valueTemplateRef; else valueTemplate" [ngTemplateOutlet]="item.valueTemplateRef"></ng-container>

  <ng-template #valueTemplate>
    <ng-container *ngIf="actualValueType != undefined; else noValue">
      <ng-container *ngIf="actualValue != undefined; else noValue" [ngSwitch]="actualValueType">
        <ng-container *ngSwitchCase="'plain'">{{ actualValue }}</ng-container>
        <ng-container *ngSwitchCase="'text'">{{ actualValue | dynamicText }}</ng-container>
        <ng-container *ngSwitchCase="'number'">{{ actualValue | numberLocale:numberFormat }}</ng-container>
        <ng-container *ngSwitchCase="'boolean'">{{ (actualValue ?? false) ? ((booleanTrueText ?? 'Yes') | dynamicText) : ((booleanFalseText ?? 'No') | dynamicText) }}</ng-container>
        <ng-container *ngSwitchCase="'percent'">{{ actualValue | numberLocale:percentFormat }}</ng-container>
        <ng-container *ngSwitchCase="'percent-point'">{{ (actualValue / 100) | numberLocale:percentPointFormat }}</ng-container>
        <ng-container *ngSwitchCase="'currency'">{{ actualValue | numberLocale:currencyFormat }}</ng-container>
        <ng-container *ngSwitchCase="'date'">{{ actualValue | dateTimeLocale:(dateFormat ?? dateShort) }}</ng-container>
        <ng-container *ngSwitchCase="'numeric-date'">{{ actualValue | numericDateToDateTime | dateTimeLocale:(dateFormat ?? dateShort) }}</ng-container>
        <ng-container *ngSwitchCase="'time'">{{ actualValue | dateTimeLocale:(timeFormat ?? timeShort) }}</ng-container>
        <ng-container *ngSwitchCase="'numeric-time'">{{ actualValue | numericTimeToDateTime | dateTimeLocale:(timeFormat ?? timeShort) }}</ng-container>
        <ng-container *ngSwitchCase="'enum'">
          <ng-container *ngIf="item.enum; else missingEnum">{{ actualValue | localizeEnum:item.enum }}</ng-container>
          <ng-template #missingEnum>MISSING_ENUM</ng-template>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="item.suffix"> {{ item.suffix }}</ng-container>
    </ng-container>
  </ng-template>
  <ng-template #noValue>{{ (noValueText ?? 'N/A') | dynamicText }}</ng-template>
</ng-container>
