:host {
  contain: content;
  content-visibility: auto;
  contain-intrinsic-size: auto 25rem;

  --tsl-indeterminate-progress-bar-background-color: inherit;
}

@layer default {
  :host {
    @apply relative flex flex-col gap-4 rounded-xl shadow-lg bg-white dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100 outline outline-1 outline-neutral-600/10 dark:outline-neutral-100/10;

    &.card-padding {
      @apply px-6 py-5;
    }
  }
}
