{
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 800,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.component.html",
      "options": {
        "printWidth": 200,
        "parser": "angular"
      }
    }
  ]
}
