<div class="content-grid gap-y-4 pt-4 bg-neutral-100 dark:bg-neutral-800 border-b">
  <h1>This is a Page Heading with a register nav bar</h1>

  <nav tslNavTabs design="register" class="-mb-px">
    <a tslNavTab>Lorem ipsum</a>
    <a tslNavTab>Dolor consectetur</a>
  </nav>
</div>

<div class="content-grid gap-y-4 pt-4 bg-neutral-100 dark:bg-neutral-800 border-b mt-12">
  <h1>This is a Page Heading with an underline nav bar</h1>

  <nav tslNavTabs design="underline" class="-mb-px">
    <a tslNavTab>Natus deleniti</a>
    <a tslNavTab>Voluptate</a>
  </nav>
</div>
