@if (heading) {
  <div class="bg-neutral-300 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100 px-2 py-0.5 text-base font-bold">{{ heading | dynamicText }}</div>
}

@if (actualDisplayType == "items") {
  <div class="grid" [ngClass]="columnClasses[columns]">
    <ng-container [ngTemplateOutlet]="headerRow"></ng-container>
    @if (empty) {
      <div class="text-center py-2" [ngClass]="colSpanClasses[columns]">{{ noValueText ?? "N/A" | dynamicText }}</div>
    }
    @for (matrixRow of matrix; track matrixRow; let rowIndex = $index; let firstRow = $first; let lastRow = $last; let oddRow = $odd) {
      @for (item of matrixRow; track item; let columnIndex = $index; let firstColumn = $first; let lastColumn = $last) {
        <div
          class="flex flex-col gap-1.5 p-2"
          [ngClass]="colSpanClasses[item?.colSpan ?? 0] + ' ' + rowSpanClasses[item?.rowSpan ?? 0]"
          [class.border-t]="!firstRow"
          [class.bg-white]="!oddRow"
          [class.dark:bg-neutral-700]="!oddRow"
          [class.bg-neutral-100]="oddRow"
          [class.dark:bg-neutral-800]="oddRow">
          @if (item) {
            <tsl-grid-label [templateRef]="item?.labelRef?.templateRef" [label]="item?.label" [enum]="item?.enum"></tsl-grid-label>
            <tsl-grid-value [booleanTrueText]="booleanTrueText" [booleanFalseText]="booleanFalseText" [noValueText]="noValueText" [item]="item"></tsl-grid-value>
          }
        </div>
      }
    }
  </div>
}

@if (actualDisplayType == "table") {
  <div class="grid" [ngClass]="columnClasses[columns]">
    <ng-container [ngTemplateOutlet]="headerRow"></ng-container>
    @if (empty) {
      <div class="text-center py-2" [ngClass]="colSpanClasses[columns]">{{ noValueText ?? "N/A" | dynamicText }}</div>
    }
    @for (matrixRow of matrix; track matrixRow; let rowIndex = $index; let firstRow = $first; let lastRow = $last; let oddRow = $odd) {
      @for (item of matrixRow; track item; let columnIndex = $index; let firstColumn = $first; let lastColumn = $last) {
        <tsl-grid-value
          [item]="item"
          [booleanTrueText]="booleanTrueText"
          [booleanFalseText]="booleanFalseText"
          [noValueText]="noValueText"
          class="px-2 py-1.5"
          [class.border-t]="!firstRow"
          [class.bg-white]="!oddRow"
          [class.dark:bg-neutral-700]="!oddRow"
          [class.bg-neutral-100]="oddRow"
          [class.dark:bg-neutral-800]="oddRow"></tsl-grid-value>
      }
    }
  </div>
}

@if (actualDisplayType == "columns") {
  <div class="grid" [ngClass]="columnClasses[columns * 2]">
    <ng-container [ngTemplateOutlet]="headerRow"></ng-container>
    @if (empty) {
      <div class="text-center py-2" [ngClass]="colSpanClasses[columns]">{{ noValueText ?? "N/A" | dynamicText }}</div>
    }
    @for (matrixRow of matrix; track matrixRow; let rowIndex = $index; let firstRow = $first; let lastRow = $last; let oddRow = $odd) {
      @for (item of matrixRow; track item; let columnIndex = $index; let firstColumn = $first; let lastColumn = $last) {
        <tsl-grid-label
          [templateRef]="item?.labelRef?.templateRef"
          [label]="item?.label"
          [enum]="item?.enum"
          class="p-2"
          [class.border-t]="!firstRow"
          [class.bg-white]="!oddRow"
          [class.dark:bg-neutral-700]="!oddRow"
          [class.bg-neutral-100]="oddRow"
          [class.dark:bg-neutral-800]="oddRow" />
        <tsl-grid-value
          [item]="item"
          [booleanTrueText]="booleanTrueText"
          [booleanFalseText]="booleanFalseText"
          [noValueText]="noValueText"
          class="p-2"
          [class.border-t]="!firstRow"
          [class.bg-white]="!oddRow"
          [class.dark:bg-neutral-700]="!oddRow"
          [class.bg-neutral-100]="oddRow"
          [class.dark:bg-neutral-800]="oddRow" />
      }
    }
  </div>
}

<ng-template #headerRow>
  @for (headerItem of headerItemRefs; track headerItem; let first = $first; let last = $last) {
    <tsl-grid-label
      [templateRef]="headerItem?.templateRef"
      [label]="headerItem?.label"
      [enum]="headerItem?.enum"
      class="px-2 pb-1.5 bg-neutral-300 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100"
      [class.pt-1.5]="heading == undefined" />
  }
</ng-template>
