<div class="content-grid space-y-4">
  <tsl-input-group class="feature">
    <label tslInputGroupLabel>Collection Ids</label>
    <input tslInput [(ngModel)]="collectionIdsInput" placeholder="123-abc, 456-def" />
  </tsl-input-group>

  <tsl-input-group class="feature">
    <label tslInputGroupLabel>Filter</label>
    <input tslInput [(ngModel)]="searchTextInput" placeholder="Filter..." />
  </tsl-input-group>
</div>

<div class="content-grid">
  <div class="feature-xl grid grid-cols-[auto,1fr]">
    <tsl-tree-view [items]="treeViewItems()"></tsl-tree-view>

    <div class="h-full py-1.5 pl-1.5 overflow-y-auto">
      <tsl-document-list class="feature h-full min-h-96" [context]="context"></tsl-document-list>
    </div>
  </div>
</div>
