<tsl-card headerContainerClass="items-center mr-6">
  <div tslCardPreHeader class="w-auto flex justify-center items-center rounded-full aspect-square p-2 bg-sky-300 text-3xl leading-[0]">✓</div>
  <div tslCardHeader>Header</div>
  <div tslCardSubHeader>Subheader</div>
  <div tslCardPostHeader class="px-3 py-1 bg-green-500 rounded-full">12 Monate</div>

  <div tslCardBody>Body</div>

  <div tslCardFooter>Footer</div>
  <button tslCardAction>Action</button>

  <div class="flex justify-center items-center absolute top-0 right-0 w-10 h-10 rounded-bl-lg bg-green-300">✗</div>
</tsl-card>
