@layer tstdl.components {
  tsl-document-workflow-state {
    @apply contain-strict grid grid-cols-[1fr,auto] rounded-xl border border-neutral-500/25 overflow-y-auto overflow-clip;

    content-visibility: auto;
    contain-intrinsic-size: 256px;
  }
}

.loader {
  @apply w-10 aspect-square rounded-[50%] border-[1.5px] border-solid border-[currentColor_#0000];
  animation: loader 1s infinite;
}

@keyframes loader {
  to {
    transform: rotate(0.5turn);
  }
}
