@if (context().isLoading()) {
  <div class="flex justify-center items-center h-full">Loading...</div>
} @else {
  <div class="grid gap-x-2 gap-y-4" [ngClass]="{ 'grid-cols-1': !showWorkflowState(), 'grid-cols-[1fr,auto]': showWorkflowState() }">
    @for (document of pendingDocuments(); track document.id) {
      @defer (on viewport; on idle) {
        <tsl-document-list-document
          @enter
          [@.disabled]="disableEnterAnimation()"
          [context]="context()"
          [document]="document"
          (click)="openDocument(document.id)"
          class="hover:cursor-pointer bg-neutral-100 dark:bg-neutral-800 hover:outline outline-2 outline-offset-4 outline-accent-600 dark:outline-accent-400 shadow"
          [class.rounded-r-none]="showWorkflowState()" />

        @if (showWorkflowState()) {
          <div class="relative w-96 h-full">
            <tsl-document-workflow-state
              @enter
              [@.disabled]="disableEnterAnimation()"
              [context]="context()"
              [document]="document"
              class="absolute inset-0 bg-neutral-100 dark:bg-neutral-800 shadow rounded-l-none"></tsl-document-workflow-state>
          </div>
        }
      } @placeholder {
        <div class="col-span-2 h-64"></div>
      }
    }
  </div>

  @if (drop.isOver()) {
    <div @fadeInOut class="fixed inset-0 bg-black/40">
      <div class="absolute inset-2 flex flex-col justify-center items-center gap-4 text-neutral-50 border-4 border-dashed border-neutral-50 rounded-md pointer-events-none">
        <div class="animate-bounce">
          <tsl-icon icon="upload" size="6xl"></tsl-icon>
        </div>
        <div class="text-lg">Dokumente hierher ziehen</div>
      </div>
    </div>
  }
}
